.card-action {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f8f8f8;
  padding-left: 10px;
  padding-top: 10px;
}

.grid-item {
  width: 360px;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 30px;
}

.norecord {
  text-align: center;
  padding-top: 100px;
}

.description {
  padding-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
