<h2 mat-dialog-title>{{ this.description | uppercase }}</h2>

<mat-dialog-content [formGroup]="form">


  <mat-form-field>
    <mat-select placeholder="Select Attribute" formControlName="fact">
      <mat-option value="device_name"> Device Name</mat-option>
      <mat-option value="temperature"> Temperature</mat-option>
      <mat-option value="voltage"> Voltage</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <input
        matInput
        placeholder="Value"
        formControlName="value"
      />
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>
  &nbsp;&nbsp;
  <button [disabled]="form.invalid" class="mat-raised-button mat-primary"  (click)="save()">
    Save
  </button>
</mat-dialog-actions>
